@using ShopsPages.Models
@model Shop

<table class="product-table-class">
    <!--
    <script>
            $(".product-table-class tbody tr").on("click", function(event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            $(this).addClass('selected').siblings().removeClass('selected');    
            var value=$(this).find('th:first').html().toString();
            var id = parseInt(value);
            var name=$(this).find('th').eq(1).html().toString();
            var description=$(this).find('th').eq(2).html().toString();
            activeProduct = id;
            console.log("click");
        });
    </script>
-->
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i<=Model?.Products.Count; i++)
        {
            <tr>
                <th>@i</th>
                <th>@Model.Products.ElementAt(i - 1).Name</th>
                <th>@Model.Products.ElementAt(i - 1).Description</th>
            </tr>
        }
    </tbody>
</table>