@page
@model string
@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>
    <strong>Status Code:</strong> <code>@ViewBag.StatusCode</code>
</h3>
