@using ShopsPages.Models

@model List<Shop>


<h1 class="display-3">Shops</h3>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Working Hours</th>
                <th>Shop Page</th>
            </tr>
        </thead>
        <tbody>
            
            @for (int i = 1; i<=Model.Count; i++)
            {
                <tr>
                    <th>@i</th>
                    <th>@Model[i - 1].Address</th>
                    <th>@Model[i - 1].WorkingHours</th>
                    <th><a class="link-dark" asp-controller="Products" asp-action="Index" asp-route-shopId="@Model[i - 1].ShopId">Products</a></th>
                </tr>
            }
        </tbody>
    </table>
</div>