@using ShopsPages.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Shop>
@{
    ViewBag.Title = "Index";
}

<h3>Shops</h3>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Working Hours</th>
            <th>Shop Page</th>
        </tr>
    </thead>
    <tbody>
        
        @for (int i = 1; i<=Model.Count; i++)
        {
            <tr>
                <th>@i</th>
                <th>@Model[i - 1].Address</th>
                <th>@Model[i - 1].WorkingHours</th>
                <th><a asp-controller="Products" asp-action="Index" asp-route-shopId="@Model[i - 1].ShopId">Products</a></th>
            </tr>
        }
    </tbody>
</table>
